{% extends 'base/base.html' %}
{% block content %}
{% load static %}
<section class="service-banner-area relative">
<div class="overlay overlay-bg"></div>
<div class="container">
<div class="row d-flex align-items-center justify-content-center">
<div class="about-content col-lg-12" >
    <br/><br/><br/><br/>

<p class="text-white navlink"><a href="{% url 'home' %}">Home </a> <span class="lnr lnr-arrow-right"></span> <a href="{% url 'services' %}"> Services</a></p>
</div>
</div>
</div>
</section>

<section class="service-area service-page-service section-gap" id="security">
<div class="container">
<div class="row d-flex justify-content-center">
<div class="menu-content pb-70 col-lg-8">
<div class="title text-center">
<h1 class="mb-10">Security Services</h1>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-4">
        <div class="single-service">
        <div class="thumb">
        <img class="img-fluid" src="" alt="">
        </div>
        <div class="detail">
        <a href="#"><h4>PROVISION OF SECURITY GUARDS</h4></a>
        <p>


        Whether you’re at home or on the go, security remains a prime concern. As the political and economic realities of the world change, the dynamics of threat also change. We have a keen eye for the changing environment and are aware of the necessity for continuous evolution in the field of security provision.
        AGL is recognized and trusted for its excellence as a security provider in guarding services. Our security guards are carefully selected and rigorously trained to the highest professional standards to provide for the safety and security of our valued clients. Through vast experience and intensive training, our professionals have developed a keen sense for threat detection and anticipation. At AGL we are committed to make your world a safe place.
        We offer a wide array of specialized security services with customer focused personnel to suit your specific needs and requirements including: -

                Special Services Group (SSG)
                Special Security Wing (Ex-Military) of Fighting Arms
                Ex-Servicemen / Civil Armed Forces
                Fully Trained / Security Cleared Civilian Guards
                Close Protection Officer (CPOs)
                Lady Searchers

        </p>
        </div>
        </div>
        </div>
<!-- <div class="col-lg-4">
<div class="single-service">
<div class="thumb">
<img class="img-fluid" src="img/s2.jpg" alt="">
</div>
<div class="detail">
<a href="#"><h4>Close Protection</h4></a>
<p>
AGL provides highly experienced and reliable personal protocol services for safe movement of individuals and assets from the source to destination anywhere within Pakistan. Our elite Special Services Group (SSG) and Special Security Wing (Ex-Military) are highly skilled in providing a secure and foolproof protective escort service. They are expertly trained to respond quickly and intelligently to any emerging situation. Bullet-proof vehicles are also available for clients on request.
</p>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="single-service">
<div class="thumb">
<img class="img-fluid" src="img/s3.jpg" alt="">
</div>
<div class="detail">
<a href="#"><h4>EVENT SECURITY</h4></a>
<p>
AGL is unrivalled in its experience of providing a full range of efficient, comprehensive and stellar staffing and security services for events. We excel in the professional handling of crowds, access control, theft prevention to ensure a safe, secure, well-coordinated and orderly environment. When you are looking to secure a public place or venue, AGL’s expert event management team will collaborate with you to devise an impeccable security strategy, ensuring complete protective coverage which will be coordinated and executed in a professional manner conforming to the highest standard. Enjoy total confidence in our security team who have the training, professionalism and discretion to handle any incident with minimal disruption. At AGL, we are uncompromising in our commitment to create a safe and secure environment. 
</p>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="single-service">
<div class="thumb">
<img class="img-fluid" src="img/s1.jpg" alt="">
</div>
<div class="detail">
<a href="#"><h4>CONSULTANCY SERVICE</h4></a>
<p>


AGL has a team of experts having vast experience with matching qualification to undertake the consultancy task. The team analyzes the existing state of security, identifies weaknesses and recommends the implementation of a security plan. It recommends security safe guards which enables the Management to arrive at better decisions regarding security related initiatives. We also provide following services.

    Security Consulting
    Threat and Vulnerability Assessments
    Security Audits
    Security Training Services
    Security Policy and Procedure Development
    Intellectual Properties Security

</p>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="single-service">
<div class="thumb">
<img class="img-fluid" src="img/s2.jpg" alt="">
</div>
<div class="detail">
<a href="#"><h4>Brake Repairs & Services</h4></a>
<p>
Computer users and programmers have become so accustomed to using Windows, even for the changing capabilities and the appearances of the graphical.
</p>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="single-service">
<div class="thumb">
<img class="img-fluid" src="img/s3.jpg" alt="">
</div>
<div class="detail">
<a href="#"><h4>Preventive Maintenance</h4></a>
<p>
Computer users and programmers have become so accustomed to using Windows, even for the changing capabilities and the appearances of the graphical.
</p>
</div>
</div>
</div> -->

</div>
</div>
</section>


<section class="service-area service-page-service" id="technical">
<div class="container">
        <div class="row d-flex justify-content-center">
        <div class="menu-content pb-70 col-lg-8">
        <div class="title text-center">
        <h1 class="mb-10">TECHNICAL SECURITY</h1>
        </div>
        </div>
        </div>
<div class="row">
        <div class="col-lg-4">
        <div class="single-service">
        <div class="thumb">
        <img class="img-fluid" src="" alt="">
        </div>
        <div class="detail">
        <a href="#"><h4>CLOSE CIRCUIT VIDEO SURVEILLANCE (CCTV)</h4></a>
        <p>

        CCTV has been of immense value in deterrence of crime / hostile activities. Premises which are equipped with CCTV are less likely to be a target. At AGL, we remain current and are forward-looking in the latest technologies and offer a broad range of video surveillance solutions specifically customized to needs of our clients. Our selection of CCTV solutions is tested and proven technologies so as to keep people and facilities safe and allow you to keep a watch on all your concerns. 

        </p>
        </div>
        </div>
        </div>
</div>
</div>
</section>

<section class="service-area service-page-service" id="residential">
<div class="container">
        <div class="row d-flex justify-content-center">
        <div class="menu-content pb-70 col-lg-8">
        <div class="title text-center">
        <h1 class="mb-10">RESIDENTIAL | HOME SECURITY</h1>
        </div>
        </div>
        </div>
<div class="row">
        <div class="col-lg-4">
        <div class="single-service">
        <div class="thumb">
        <img class="img-fluid" src="" alt="">
        </div>
        <div class="detail">
        <a href="#"><h4>CLOSE CIRCUIT VIDEO SURVEILLANCE (CCTV)</h4></a>
        <p>

        CCTV has been of immense value in deterrence of crime / hostile activities. Premises which are equipped with CCTV are less likely to be a target. At AGL, we remain current and are forward-looking in the latest technologies and offer a broad range of video surveillance solutions specifically customized to needs of our clients. Our selection of CCTV solutions is tested and proven technologies so as to keep people and facilities safe and allow you to keep a watch on all your concerns. 

        </p>
        </div>
        </div>
        </div>
</div>
</div>
</section>




{% endblock content %}