{% extends 'base/base.html' %}
{% block content %}

<section class="blog-posts-area section-gap">
<div class="container">
<div class="row">
<div class="col-lg-8 post-list blog-post-list">
<br /><br /><br />

{% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ sub.email }} {{ message }}
  </div>
{% endfor %}

</div>



</div>

</div>
</section>


{% endblock content %}
